@charset "UTF-8";
/* CSS Document */
.bg-dark{
}

.header{
	background-color: #4C3400;
}
.c-container{
	padding-right: 0px;
	padding-left: 0px;
}

.c-carousel-caption{
	color: #000;
}

.text-conatiner{
	max-width: 1000px; 
}

.front-page-text{
	padding-top: 20px;
}

.footer{
	background-color: #4C3400;
	height: 60px;
	color: #eee;
	font-size: .8rem;
	text-align: center;
	padding-top: 20px; 
}

.control-width{
	max-width: 1200px;
}

.card-container{
	padding-bottom: 20px;
}

.card-footer-gk{
	height: 60px;
}

.btn-primary{
background-color: transparent;
color: #202529;
border-color: #FF4040; 
}

.btn-primary:hover{
background-color: transparent;
color: #202529;
border-color: #FF4040; 
}

.modal-content{
	text-align: center;
}